@import "../../../assets/styles/widgets";

.widget {
  &.widget_instagram ul li {
    display: inline-block;
    margin: 8px 6px;

    img {
      width: 75px;
    }
  }

  &.widget_instagram .widget-title {
    padding: 0 20px;
  }
}
