@import "../../../assets/styles/variables";

.navbar-default {
  background: $white;
  box-shadow: none;
  padding: 0px 80px;

  .navbar-brand {
    font-size: 20px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.9);
    font-family: $navbar-brand-font;
    text-shadow: none;
    padding: 0;
    height: auto;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: auto;
  }

  .navbar-nav {
    font-family: $navbar-nav-font;

    li {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.1em;
      color: $black;
      cursor: pointer;

      a {
        color: inherit;
        text-shadow: none;
        padding: 35px 25px 35px;
      }

      &.active a {
        background: none;
        box-shadow: none;
        color: $black;

        &:hover {
          background: none;
          box-shadow: none;
          color: $black;
        }

        &:after, &:hover:after {
          opacity: 1;
        }
      }
    }

    > li > a {
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -12px;
        bottom: 30px;
        width: 24px;
        height: 2px;
        background: $black;
        opacity: 0;
      }

      &:hover:after {
        opacity: 1;
      }

      .sub-trigger:after {
        content: "";
        font-family: "FontAwesome";
        speak: none;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.sub-open > .sub-trigger:after {
        content: "";
      }

      > .sub-menu {
        display: none;
      }
    }
  }

  .social-icon {
    display: inline-block;
    margin-top: 3px;
    margin-left: 15px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-size: 15px;
        margin: 0 12px;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .single-page-post .single-blog-post {
    .author-img {
      position: static;
    }

    img {
      margin-top: 0;
    }

    .author-img + div {
      padding-left: 0;
      margin-top: 25px;
    }
  }

  .sub-header {
    min-height: 500px;

    &::before {
      top: 135px;
    }
  }

  .navbar-default {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .post-style-2 .blog-btn {
    margin-top: 10px;
  }

  .post-style-3 {
    .post-thumbnail img {
      transform: scaleY(1);
      margin-top: 30px;
    }

    .blog-btn {
      float: none;

      .btn {
        margin-top: 15px;
      }
    }
  }

  .navbar-default .navbar-nav li a {
    padding: 0px 20px 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1099px) {
  .navbar-brand, .navbar-header .social-icon {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1100px) {
  .navbar-brand, .navbar-header .social-icon {
    margin-top: 35px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav {
    li a {
      padding: 0;
    }

    .has-sub-menu > .sub-menu {
      box-shadow: none;

      > li.has-sub-menu > a:after {
        display: none !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;

    &.in {
      display: block !important;
    }
  }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }

  .navbar-header {
    float: none;
    border-bottom: none;
  }

  .navbar-default {
    .navbar-toggle {
      border: none;
      background: none;

      &:hover, &:focus {
        border: none;
        background: none;
      }
    }

    .navbar-nav li a {
      padding-left: 0;
    }

    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
      padding-left: 30px;
    }

    .navbar-nav .has-sub-menu > .sub-menu {
      position: static;
      padding-left: 25px;
      border: none;
      background: transparent;
      width: 100%;
    }

    .navbar-toggle .icon-bar {
      background-color: #fb0d29;
    }

    .navbar-nav li {
      float: none;
      display: block;
      margin-bottom: 10px;
    }
  }

  .nav.navbar-nav {
    float: none !important;
  }

  .navbar-default .navbar-nav li a:after {
    left: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    margin: 0;
  }

  .navbar-default {
    .social-icon {
      display: none;
    }

    .navbar-brand {
      padding-left: 15px;
      margin-top: 15px;
    }
  }

  .navbar-nav {
    padding-top: 25px;
  }
}
