  <div class="widget widget_recent_stories">
    <div class="widget-title">
      <h5>{{'sidebar.recommendedArticleTitle' | translate }}</h5>
    </div>
    <ul>
      <li>
        <div class="widget-img">
          <a href="#" routerLink="/home"><img src="https://placehold.it/55x55" alt="image"></a>
        </div>
        <div class="widget-content">
          <h5><a href="#">Today I Built a Chicken Coop</a></h5>
          <span>March 2016</span>
        </div>
      </li>
      <li>
        <div class="widget-img">
          <a href="#"><img src="https://placehold.it/55x55" alt="image"></a>
        </div>
        <div class="widget-content">
          <h5><a href="#">Today I Built a Chicken Coop</a></h5>
          <span>March 2016</span>
        </div>
      </li>
    </ul>
  </div>
