<div class="link-input-panel">
  <div class="link-input-title">
    <h5>{{ 'adminPage.title' | translate }}</h5>
  </div>
  <div class="link-input-content">
    <button routerLink="/createarticle">Go To Create Article</button>
    <button (click)="toggleAuth()">Toggle Auth</button>
    <div>{{authService.isAuth}}</div>
  </div>
</div>

<div>

</div>

<div class="link-input-panel">
  <div class="link-input-title">
    <h5>{{ 'createArticle.creatorTitle' | translate }}</h5>
  </div>
  <div class="link-input-content">
    <form>
      <div class="field name-box">
        <input type="text" id="name" placeholder="Who Are You?" />
        <label for="name">Name</label>
        <span class="ss-icon">check</span>
      </div>

      <div class="field email-box">
        <input type="text" id="email" placeholder="name@email.com" />
        <label for="email">Email</label>
        <span class="ss-icon">check</span>
      </div>

      <div class="field msg-box">
        <textarea id="msg" rows="4" placeholder="Your message goes here..." ></textarea>
        <label for="msg">Msg</label>
        <span class="ss-icon">check</span>
      </div>

      <input class="button" type="submit" value="Send" />
    </form>
    <div class="form-group">
      <label for="user_username" class="control-label">Facebook:</label>
      <input type="text" id="user_username" class="form-control" name="user_username" autofocus/>
      <label for="user_username" class="control-label">Twitter:</label>
      <input type="text" id="user_username" class="form-control" name="user_username" autofocus/>
      <label for="user_username" class="control-label">LinkedIn:</label>
      <input type="text" id="user_username" class="form-control" name="user_username" autofocus/>
      <label for="user_username" class="control-label">GitHub:</label>
      <input type="text" id="user_username" class="form-control" name="user_username" autofocus/>

      <button (click)="updateSocialMedia()">Update Media</button>
    </div>

  </div>
</div>
