<p>
  more-page works!
</p>
<button routerLink="/createarticle">Go To Create Article</button>
<button routerLink="/admin">Go To Admin</button>
<button (click)="toggleAuth()">Toggle Auth</button>
<div>{{authService.canActivate()}}</div>
<div>
  <div> {{ (af.auth | async)?.uid }} </div>
  <button (click)="loginGitHub()">Login</button>
  <button (click)="logoutGitHub()">Logout</button>
</div>

<div>
  <md-list>
    <md-list-item (click)="toggleLang('en-US')">
      <img md-list-avatar src="./assets/flags-iso/flat/32/US.png" alt="...">
      English (United States)
    </md-list-item>
  </md-list>
  <md-list>
    <md-list-item (click)="toggleLang('en-GB')">
      <img md-list-avatar src="./assets/flags-iso/flat/32/GB.png" alt="...">
      English (United Kingdom)
    </md-list-item>
  </md-list>
</div>
