<!-- SIDEBAR -->
<div class="sidebar">
  <!-- WIDGET SEARCH -->
  <app-search-site></app-search-site>
  <!-- WIDGET CATEGORY -->
  <app-article-categories [blogCategoryList]="categoryList"></app-article-categories>
  <!-- WIDGET RECENT ARTICLES -->
  <app-recent-articles></app-recent-articles>
    <!-- WIDGET RECENT POST -->
  <app-recommended-articles></app-recommended-articles>
  <!-- WIDGET ADS -->
  <app-ad-preview [adWidth]="250" [adHeight]="250"></app-ad-preview>
  <!-- WIDGET INSTAGRAM -->
  <app-instagram-preview></app-instagram-preview>
  <!-- WIDGET FACEBOOK FOLLOW FEED -->
  <app-facebook-preview></app-facebook-preview>
</div>
