<!-- SIDEBAR -->
<div class="sidebar">
  <!-- WIDGET SEARCH -->
  <app-search-site></app-search-site>
  <!-- WIDGET CATEGORY -->
  <app-article-categories (onCategoryClicked)="filterCategories($event)" [blogCategoryList]="categoryList | async"></app-article-categories>
  <!-- WIDGET ADS -->
  <app-ad-preview [adWidth]="280" [adHeight]="280"></app-ad-preview>
  <!-- WIDGET RECENT ARTICLES -->
  <app-recent-articles></app-recent-articles>
  <!-- WIDGET ADS -->
  <app-ad-preview [adWidth]="280" [adHeight]="280"></app-ad-preview>
  <!-- WIDGET RECENT POST -->
  <app-recommended-articles></app-recommended-articles>
</div>
