<div class="link-input-panel">
  <div class="link-input-title">
    <h5>{{ 'adminSocial.title' | translate }}</h5>
  </div>
  <div class="link-input-content">

    <div class="row">
      <div class="col-sm-12">
        <md-input placeholder="{{'socialMedia.facebook' | translate}}" type="text" required="" autofocus [(ngModel)]="internalModel.facebook"></md-input>
      </div>
      <div class="col-sm-12">
        <md-input placeholder="{{'socialMedia.twitter' | translate}}" type="text" required="" autofocus [(ngModel)]="internalModel.twitter"></md-input>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <md-input placeholder="{{'socialMedia.github' | translate}}" type="text" required="" autofocus [(ngModel)]="internalModel.github"></md-input>
      </div>
      <div class="col-sm-12">
        <md-input placeholder="{{'socialMedia.linkedin' | translate}}" type="text" required="" autofocus [(ngModel)]="internalModel.linkedin"></md-input>
      </div>
    </div>
  </div>
  <div class="link-input-footer">
    <div class="row">
      <div class="col-sm-12">
        <button md-raised-button color="primary" (click)="onSave()">Update Media</button>
      </div>
    </div>
  </div>
</div>
