  <div class="widget widget_popular_stories">
    <div class="widget-title">
      <h5>{{'sidebar.recentArticleTitle' | translate }}</h5>
    </div>
    <ul>
      <li>
        <div class="story-widget-content">
          <h5><a href="#">As We Become <br> Cameras</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. </p>
          <div class="post-meta-data">
            <span class="post-author">by <a href="#">John Jonhnson</a></span>
            <span class="post-time"><i class="fa fa-clock-o"></i> 2 days ago</span>
            <a href="#" class="circle-icon"><i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </li>
      <li>
        <div class="story-widget-content">
          <h5><a href="#">As We Become <br> Cameras</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. </p>
          <div class="post-meta-data">
            <span class="post-author">by <a href="#">John Jonhnson</a></span>
            <span class="post-time"><i class="fa fa-clock-o"></i> 2 days ago</span>
            <a href="#" class="circle-icon"><i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </li>
      <li>
        <div class="story-widget-content">
          <h5><a href="#">As We Become <br> Cameras</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. </p>
          <div class="post-meta-data">
            <span class="post-author">by <a href="#">John Jonhnson</a></span>
            <span class="post-time"><i class="fa fa-clock-o"></i> 2 days ago</span>
            <a href="#" class="circle-icon"><i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
