@mixin input-label-icon($url) {
	background-image: url($url);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}


@mixin input-label-icon($class, $url) {
  .label-icon {
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  .#{$class} {
    @extend .label-icon;
    background-image: url($url);

  }

  .#{$class}:focus {
    @extend .#{$class};
  }
}
