//
// FONT PALETTE
//

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

//
// COLOR PALETTE
//

$white: #FFF;
$off-gray: #f0f0f0;
$black: #000;
$red: #f0f0f0;

$soft-red: #fb0d29;
$accent-red: #FF5252;
$blue-grey: #455A64;
$light-grey:rgba(117, 117, 117, 0.35);

$primary-color: $soft-red;
$accent-color: $blue-grey;
$warning-color: $red;

//
// FONT PALETTE
//
$merriweather-font: "Merriweather", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$open-sans-font: "Open Sans", sans-serif;
$roboto-font: "Roboto", sans-serif;

//
// MAIN APP FONTS
//
$body-font: $roboto-font;
$header-font: $roboto-font;
$navbar-brand-font: $open-sans-font;
$navbar-nav-font: $montserrat-font;

//
// MAIN APP COLORS
//
$content-background-color: $off-gray;
$title-border-grey: $light-grey;
