@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";



.admin-debug-panel {
  background-color: $white;
  margin-bottom: 25px;
  padding: 45px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.04);

  .admin-debug-title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $title-border-grey;
  }
  md-input {
    width: 100%;
  }

  button {
    width: 100%;
  }


}

